# Git ignore File
.*
*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*/*.pyc
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
!/.gitignore
*.directory
*/*.directory
*/*/*.directory
*/*/*/*.directory
*/*/*/*/*.directory
data.csv
*/data.csv
*/*/data.csv
*/*/*/data.csv
*.log
*/*.log
*/*/*.log
*/*/*/*.log
*/*/*/*/*.log
*.ydc
*/*.ydc
*/*/*.ydc
*/*/*/*.ydc
*/*/*/*/*.ydc
*.html
*/*.html
*/*/*.html
*/*/*/*.html
*/*/*/*/*.html
*.pdf
*/*.pdf
*/*/*.pdf
*/*/*/*.pdf
*/*/*/*/*.pdf
*.tar.gz
*/*.tar.gz
*/*/*.tar.gz
*/*/*/*.tar.gz
*/*/*/*/*.tar.gz
*/*/*/*/*/*.tar.gz
*/*/*/*/*/*/*.tar.gz
target/*
*/target/*
*/*/target/*
*/*/*/target/*
*/*/*/*/target/*
*/*/*/*/*/target/*
*/*/*/*/*/*/target/*
.idea/*
.project
.classpath
.settings
.checkstyle
.DS_Store